.login-background
{
    background-color: #fff;
    --background: #fff;
}
.loginheader-background
{
	  background-color: #F37047;
    --background: #F37047;
}
.logo-inner{
    padding: 20px 0px 10px 0px;
}
.logo-inner .site-logo{
    height: 104px;
}
.signup-details-box{
    padding: 50px 20px 0px 20px;
}
.input-fields-inner ion-input {
    --placeholder-color: #000;
    --placeholder-opacity: 1;
    font-size: 14px;
}
.input-fields-inner{
    --background: transparent;
    --border-color: #000;
    --padding-start: 0px;
    --placeholder-opacity: 1;
    color: #000;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
.checkbox-item-inner{
    --border-color: transparent;
}
ion-checkbox {
	position:relative;
  background: #ffffff;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 4px;
  border-color: grey !important;
  --height: 35px;
  --width: 35px;
  --checkmark-color: #4870f2;
  --background-checked: #ffffff;
  --border-color: #ffffff;
  --border-color-checked: #ffffff;
}
.checkbox-item-inner ion-checkbox{
    margin-inline-end: 12px;
    --border-color: #000;
}
.input-fields-inner ion-icon{
    color: #000;
    margin-inline-end: 10px;
    font-size: 20px;
}
.submit-btn{
	background-color: #F37047;
    --background: #F37047;
    --border-color: #F37047;
    --color: #fff;
    font-size: 22px;
    height: 42px;
    text-transform: none;
	border-radius: 64px;
}
.submit-btn-inner{
    margin: 50px 0px 0px 0px;
}
.text-line-one{
    font-size: 15px;
    color: #000;
    padding: 0px 0px 5px 0px;
    text-align: center;
}
.privacy-text{
    font-size: 10px;
    color: #000;
    padding: 0px 0px 5px 0px;
}
.text-line-two{
    font-size: 16px;
    color: #000;
    font-style: italic;
    padding: 5px 0px 0px 0px;
    text-align: center;
}
.reservation-bottom{
    padding-bottom: 30px;
}
.form-inner-box{
    width: 100%;
}
.error-label-text{
    color: red;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.checkbox-class{
    pointer-events: none;
}
.modal-class-privacy{
    overflow-y: scroll;
}
.adjust-sign{
    margin-top: -5px;
    margin-left: -12px;
    text-transform: capitalize;
}