<ion-content padding class="login-background">
	<ion-grid class="signup-details-box">
		<ion-row>
       <ion-col size="12" class="ion-text-center">
         <ion-title class="text-line-one">Nous avons trouvé de l'aide pour vous</ion-title>
       </ion-col>
       <ion-col size="12" class="ion-text-center reservation-bottom">
        <ino-title class="text-line-two">Inscris toi finaliser la réservation</ino-title>
      </ion-col>
			<ion-col size="12">
          <ion-item class="input-fields-inner">
              <ion-input type="text" value="" placeholder="Nom et prénom (s)"></ion-input>
              <ion-icon name="person" slot="start"></ion-icon>
          </ion-item>
			    <ion-item class="input-fields-inner">
            <ion-input type="text" value="" placeholder="Numéro de téléphone"></ion-input>
            <ion-icon name="call" slot="start"></ion-icon>
          </ion-item>
          <ion-item class="input-fields-inner">
            <ion-input type="email" value="" placeholder="Adresse é-mail"></ion-input>
            <ion-icon name="mail" slot="start"></ion-icon>
          </ion-item>
          <ion-item class="input-fields-inner">
            <ion-input type="password" value="" placeholder="Mot de passe"></ion-input>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
          </ion-item>
          <ion-item class="input-fields-inner">
            <ion-input type="password" value="" placeholder="Répéter votre mot de passe"></ion-input>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
          </ion-item>
          <ion-item class="input-fields-inner checkbox-item-inner">
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>Se connecter</ion-label>
          </ion-item>
      </ion-col>
			<ion-col size="12" class="submit-btn-inner">
        <ion-button shape="round" expand="full" fill="outline" class="submit-btn">Valider</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>