<ion-content padding class="login-background">
  <ion-grid class="loginheader-background">
    <ion-row>
      <ion-col size="12" class="logo-inner">
        <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="signup-details-box">
    <form *ngIf="signUpForm" [formGroup]="signUpForm" class="form-inner-box">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-title class="text-line-one">Nous avons trouvé de l'aide pour vous</ion-title>
        </ion-col>
        <ion-col size="12" class="ion-text-center reservation-bottom">
          <ion-title class="text-line-two">Inscris toi finaliser la réservation</ion-title>
        </ion-col>
        <ion-col size="12">
          <ion-item class="input-fields-inner">
            <ion-input type="text" formControlName="name" placeholder="Nom et prénom (s)"></ion-input>
            <ion-icon name="person" slot="start"></ion-icon>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.name.errors?.required">
            Name is required.
          </span>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
            Name should be min 2 chars long.
          </span>
          <ion-item class="input-fields-inner">
            <ion-input type="text" formControlName="phone" placeholder="Numéro de téléphone"></ion-input>
            <ion-icon name="call" slot="start"></ion-icon>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.phone.errors?.required">
            Mobile number is required.
          </span>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.phone.errors?.pattern">
            Only numerical values allowed.
          </span>
          <ion-item class="input-fields-inner">
            <ion-input type="email" formControlName="email" placeholder="Adresse é-mail"></ion-input>
            <ion-icon name="mail" slot="start"></ion-icon>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Email is required.
          </span>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Please provide valid email id.
          </span>
          <ion-item class="input-fields-inner">
            <ion-input type="password" formControlName="password" placeholder="Mot de passe"></ion-input>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Please provide password.
          </span>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
            Password must be 6 digit long.
          </span>
          <ion-item class="input-fields-inner">
            <ion-input type="password" formControlName="confirmPassword" placeholder="Répéter votre mot de passe">
            </ion-input>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
            Please re-enter password.
          </span>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.different">
            Password do not match.
          </span>
          <ion-item class="input-fields-inner checkbox-item-inner" (click)="openPrivacyPolicy()">
            <ion-checkbox color="primary" formControlName="privacy" slot="start" class="checkbox-class"></ion-checkbox>
            <ion-label>Se connecter</ion-label>
          </ion-item>
          <span class="error error-label-text" *ngIf="isSubmitted && errorControl.privacy.errors?.pattern">
            Please check privacy to proceed.
          </span>
        </ion-col>
        <ion-col size="12" class="">
          <ion-button (click)="signUp(signUpForm)" shape="round" expand="full" fill="outline" class="submit-btn">Valider
          </ion-button>
        </ion-col>
        <ion-col size="12" class="">
          <span>Utilisateur existant ? </span>
          <ion-button fill="clear" class="adjust-sign" (click)="signIn()">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>