<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>
<ion-content [fullscreen]="true" class="ion-container">
  <ion-row>
    <ion-col size="12">
      <ion-title *ngIf="user && user['user_name']" class="ion-text-center user-name-text">{{user['user_name']}}
      </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="card-row-inner">
    <ion-col (click)="navigate('/searchprovider')" size="12">
      <ion-card class="ion-item-box item-box-two">
        <ion-img src="assets/images/img-3.png"></ion-img>
        <ion-label>Nouvelle demande</ion-label>
      </ion-card>
    </ion-col>
    <ion-col (click)="navigate('/demand-in-progress')" size="6">
      <ion-card class="ion-item-box item-box-one">
        <ion-img src="assets/images/img-4.png"></ion-img>
        <ion-label>Demande en cours</ion-label>
      </ion-card>
    </ion-col>
    <!--<ion-col size="6">
      <ion-card class="ion-item-box item-box-three">
        <ion-img src="assets/images/img-2.png"></ion-img>
        <ion-label>Historique</ion-label>
      </ion-card>
    </ion-col>-->
    <ion-col size="6">
      <a ion-button href="https://api.whatsapp.com/send?phone=918584007083">
        <ion-card class="ion-item-box item-box-four">
          <ion-img src="assets/images/img-1.png"></ion-img>
          <ion-label>Assistance virtuelle</ion-label>
        </ion-card>
      </a>
    </ion-col>

    <ion-col (click)="navigate('/subscription')" size="12">
      <ion-card class="ion-item-box item-box-two">
        <ion-img src="assets/images/img-9.png"></ion-img>
        <ion-label>Bénéficiez d'une remise de - <span *ngIf="user && user['subscription']">{{user['subscription']+'%'}}</span>
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>