<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-title class="ion-text-center user-name-text">Amont Remy</ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="card-row-inner">
    <ion-col size="6">
      <ion-card class="ion-item-box item-box-one">
        <ion-img src="assets/images/img-4.png"></ion-img>
        <ion-label>Demande en cours</ion-label>
      </ion-card>
    </ion-col>
    <ion-col (click)="navigate()" size="6">
      <ion-card class="ion-item-box item-box-two">
        <ion-img src="assets/images/img-3.png"></ion-img>
        <ion-label>Nouvelle demande</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-item-box item-box-three">
        <ion-img src="assets/images/img-2.png"></ion-img>
        <ion-label>Historique</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-item-box item-box-four">
        <ion-img src="assets/images/img-1.png"></ion-img>
        <ion-label>Assistance virtuelle</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>