<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-inner-box list-inner-top">
    <ion-item>
      <ion-grid class="grid-top-title">
        <ion-row>
          <ion-col size="12">
            <ion-label class="item-text-transaction">Transaction history</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label class="item-text-balance">Balance: <span *ngIf="totalBalance">${{totalBalance}}</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box">
    <ion-item class="datepicker-box">
      <ion-grid class="grid-top-title">
        <ion-row>
          <ion-col size="12">
            <ion-label class="statement-period">Statement Period</ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-item class="datepicker-inner-box">
              <ion-datetime (ionChange)="setMinEndDate()" id="startDate" value="{{fromDate}}" [max]="2090-12-31"
                placeholder="Select Date">
              </ion-datetime>
              <span>-</span>
              <ion-datetime id="endDate" value="{{toDate}}" [min]="minEndDate" [max]="2090-12-31"
                placeholder="Select Date"></ion-datetime>
              <ion-icon name="calendar-clear-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col (click)="loadPaymentData()" size="2" class="ion-text-right">
            <ion-button class="round-shape-button">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box">
    <ion-item class="item-inner-list" *ngFor="let paymentDetail of paymentDetails; let i = index">
      <ion-grid class="transaction-grid">
        <ion-row (click)="transactionDetails(paymentDetail.id)">
          <ion-col size="12">
            <ion-label class="transaction-date">{{getDateFormat(paymentDetail.booking_date)}}</ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-label class="transaction-receipt">Receipt #: {{paymentDetail.transaction_id}}</ion-label>
          </ion-col>
          <ion-col size="3" class="ion-text-right">
            <ion-label class="transaction-amount"><span
                *ngIf="paymentDetail.paidstatus === 'paid'">(</span>${{paymentDetail.amount}}<span
                *ngIf="paymentDetail.paidstatus === 'paid'">)</span></ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-label class="transaction-wht">{{getPaidStatus(paymentDetail.paidstatus)}}</ion-label>
          </ion-col>
          <ion-col size="3" class="ion-text-right">
            <ion-label class="transaction-amount"></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>