ion-toolbar{
    /*--background: #2f26d9;*/
	--background: #f89951;
    --color: #fff;
    --border-color: #2f26d9;
    padding: 1px 0px 8px 0px !important;
    border-radius: 0px 0px 25px 25px;
}
.tltle-logo{
    position: relative;
    left : 10px;
}
.site-logo{
    height: 100px;
    text-align: left;
}
ion-title{
    padding-inline-start: 0px;
}