$ratingSize: 100px;
ion-toolbar{
    --background: #2f26d9;
    --color: #fff;
    --border-color: #2f26d9;
    padding: 30px 0px 30px 0px !important;
    border-radius: 0px 0px 25px 25px;
}
.site-logo{
    height: 50px;
    text-align: left;
}
ion-title{
    padding-inline-start: 0px;
}
.list-inner-top{
    padding: 20px 0px 20px 0px;
}
.list-inner-box{
    width:90%; 
    margin: 0px auto;
}
.list-inner-box .list-tem-box{
    background:#f3f1fc;
    border-radius: 10px;
}
.list-inner-box ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    margin: 0px 0px 6px 0px;
    --border-color: transparent;
}
.list-inner-box ion-grid{
    padding: 14px 12px;
    width: 100%;
}
.list-inner-box .user-name-contact-inner{
    margin: 0px 0px 0px 0px;
}
.list-inner-box  .btn-grid-inner{
    padding: 14px 0px;
}
.item-rating-color ion-icon{
    color: #fcb23e;
    font-size: 15px;
}
.item-text-label{
    color: #333237;
    font-size: 14px;
    font-weight: 800;
    padding: 0px 0px 5px 0px;
}
.booking-text-label{
    color: #333237;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
}
.users-label-inner{
    color: #333237;
    font-size: 20px;
    font-weight: 800;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.users-contact-label{
    color: #333237;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 0px 5px 0px;
    text-align: center;
}
.cancel-booking-btn{
    --border-color: #fd2914;
    --background: #fd2914;
    --color: #fff;
    font-size: 19px;
    height: 42px;
    text-transform: none;
    border-radius: 14px;
}
.rating-label-inner{
    text-align: center;
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.rating-label-inner ion-icon{
    color: #f9a425;
    font-size: 28px;
}

.star-rating {
    height: ($ratingSize/5);
    position: relative;
    margin-left: 100px;
    width: $ratingSize;
    &:before {
      // inactive
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
      bottom: 0;
      content: "";
      display: block;
      height: ($ratingSize/5);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: $ratingSize;
    }
    > span {
      display: block;
      text-indent: -10000px;
      width: $ratingSize;
      height: ($ratingSize/5);
      position: absolute;
      overflow: hidden;
      &:before {
        // active
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
        background-repeat: repeat-x;
        background-size: ($ratingSize/5);
        bottom: 0;
        content: "";
        display: block;
        height: ($ratingSize/5);
        left: 0;
        position: absolute;
        right: 0;
        text-indent: 10000px;
        top: 0;
      }
    }
  }