<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-inner-box list-inner-top">
    <ion-item *ngIf="details && details.providerdetails" class="user-name-contact-inner">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label class="users-label-inner">{{details['providerdetails'][0]['name']}}</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label class="users-contact-label">Contact No: {{details['providerdetails'][0]['phone']}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="details?.bookingdetails">
      <ion-grid class="list-tem-box">
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Service Type</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{details.bookingdetails.service_name}}</ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Location</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">Howrah</ion-label>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Date</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{details.bookingdetails.booking_date}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Time</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{details.bookingdetails.total_hrs}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Amount</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="item-text-date">${{details.bookingdetails.amount}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label class="rating-label-inner">
              <bar-rating id="ratingBar" [theme]="'default'" (rateChange)="changeRate()" [(ngModel)]="rating" [max]="5">
              </bar-rating>
            </ion-label>
          </ion-col>
          <ion-col size="12" class="cancel-booking-btn-inner">
            <ion-button expand="full" shape="round" class="cancel-booking-btn">Cancel Booking
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>