<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>
<ion-content class="ion-container">
  <ion-list class="list-inner-box  list-inner-top">
    <ion-label class="dropdown-label-text"><u>Slot 1</u></ion-label>
    <ion-item class="item-inner-box">
      <ion-label>Date</ion-label>
      <li-ionic4-datepicker (ngModelChange)="setMinEndDate1($event)" placeholder="Select Date"
        class="ion-datepicker-cont" [(ngModel)]="dateObj['1']" [inputDateConfig]="datePickerObj1">
      </li-ionic4-datepicker>
    </ion-item>
    <ion-item class="item-inner-box">
      <ion-label>Start Time</ion-label>
      <ion-datetime id="startTime1" display-format="HH:mm" picker-format="HH:mm" value="{{date}}">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box item-last-inner">
      <ion-label>End Time</ion-label>
      <ion-datetime id="endTime1" display-format="HH:mm" picker-format="HH:mm" value="{{endTime}}">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box  list-inner-top">
    <ion-label class="dropdown-label-text"><u>Slot 2</u></ion-label>
    <ion-item class="item-inner-box">
      <ion-label>Date</ion-label>
      <li-ionic4-datepicker (ngModelChange)="setMinEndDate2($event)" placeholder="Select Date"
        class="ion-datepicker-cont" [(ngModel)]="dateObj['2']" [inputDateConfig]="datePickerObj2">
      </li-ionic4-datepicker>
    </ion-item>
    <ion-item class="item-inner-box">
      <ion-label>Start Time</ion-label>
      <ion-datetime id="startTime2" display-format="HH:mm" picker-format="HH:mm" value="{{date}}">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box item-last-inner">
      <ion-label>End Time</ion-label>
      <ion-datetime id="endTime2" display-format="HH:mm" picker-format="HH:mm" value="{{endTime}}">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box  list-inner-top">
    <ion-label class="dropdown-label-text"><u>Slot 3</u></ion-label>
    <ion-item class="item-inner-box">
      <ion-label>Date</ion-label>
      <li-ionic4-datepicker (ngModelChange)="setMinEndDate3($event)" placeholder="Select Date"
        class="ion-datepicker-cont" [(ngModel)]="dateObj['3']" [inputDateConfig]="datePickerObj3">
      </li-ionic4-datepicker>
    </ion-item>
    <ion-item class="item-inner-box">
      <ion-label>Start Time</ion-label>
      <ion-datetime id="startTime3" display-format="HH:mm" picker-format="HH:mm" value="{{date}}">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box item-last-inner">
      <ion-label>End Time</ion-label>
      <ion-datetime id="endTime3" display-format="HH:mm" picker-format="HH:mm" value="{{endTime}}">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box  list-inner-top">
    <ion-label class="dropdown-label-text"><u>Slot 4</u></ion-label>
    <ion-item class="item-inner-box">
      <ion-label>Date</ion-label>
      <li-ionic4-datepicker placeholder="Select Date" class="ion-datepicker-cont" [(ngModel)]="dateObj['4']"
        [inputDateConfig]="datePickerObj4">
      </li-ionic4-datepicker>
    </ion-item>
    <ion-item class="item-inner-box">
      <ion-label>Start Time</ion-label>
      <ion-datetime id="startTime4" display-format="HH:mm" picker-format="HH:mm" value="{{date}}">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box item-last-inner">
      <ion-label>End Time</ion-label>
      <ion-datetime id="endTime4" display-format="HH:mm" picker-format="HH:mm" value="{{endTime}}">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box ">
    <ion-label class="dropdown-label-text">Sélectionner votre quartier</ion-label>
    <ion-item class="dropdown-inner-box">
      <ion-select [(ngModel)]="searchProviderModel['location']" id="location1"
        *ngIf="searchProviderData?.location && searchProviderData.location.length && searchProviderModel['location']">
        <ion-select-option *ngFor="let location of searchProviderData.location" value="{{location.id}}">
          {{location.location_name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label class="dropdown-label-text">Service en demande</ion-label>
    <ion-item class="dropdown-inner-box">
      <ion-select id="service1" [(ngModel)]="searchProviderModel['service']"
        *ngIf="searchProviderData?.service && searchProviderData.service.length && searchProviderModel['service']">
        <ion-select-option *ngFor="let service of searchProviderData.service" value="{{service.id}}">
          {{service.service_name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list class="list-inner-box">
    <ion-col size="12" class="submit-btn-inner">
      <ion-button shape="round" expand="full" (click)="submitSearchData()" fill="outline" class="next-btn-property">
        Suivant
      </ion-button>
    </ion-col>
  </ion-list>
</ion-content>