<ion-content padding class="login-background">
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="logo-inner">
                <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
            </ion-col>
            <ion-col size="12" class="user-name-inner">
                <ion-title class="ion-text-center user-name-text">Depanne Dakar</ion-title>
            </ion-col>
            <ion-col size="12" class="user-name-inner">
                <ion-title class="ion-text-center user-title-text">Sous titre</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="login-details-box">
        <ion-row>
            <form [formGroup]="loginForm" class="form-inner-box" style="width:90%; margin: 0px auto;">
                <ion-col size="12">
                    <ion-title class="ion-text-start to-login-text">Se connecter</ion-title>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="input-fields-inner">
                        <ion-input type="text" formControlName="username" placeholder="Téléphone ou email"></ion-input>
                        <ion-icon name="person" slot="start"></ion-icon>
                    </ion-item>
                    <span class="error error-label-text" *ngIf="isSubmitted && errorControl.username.errors?.required">
                        Username is required.
                    </span>
                    <ion-item class="input-fields-inner">
                        <ion-input type="password" formControlName="password" placeholder="Tapez votre mot de passe">
                        </ion-input>
                        <ion-icon name="lock-closed" slot="start"></ion-icon>
                    </ion-item>
                    <span class="error error-label-text" *ngIf="isSubmitted && errorControl.password.errors?.required">
                        Password is required.
                    </span>
                </ion-col>
				
                <ion-col size="12" class="submit-btn-inner">
                    <ion-button shape="round" (click)="login(loginForm)" expand="full" fill="outline"
                        class="submit-btn">Valider</ion-button>
                    <ion-title class="ion-text-center forgot-password-text">Mot de passe oublié?</ion-title>
                    <ion-title class="ion-text-center forgot-password-text" (click)="goToRegistration()">Inscris toi finaliser la réservation</ion-title>
                </ion-col>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>