.login-background
{
/*    background-color: #2b21da;
    --background: #2b21da;*/
	  background-color: #fff;
    --background: #fff;
}
.loginheader-background
{
/*    background-color: #2b21da;
    --background: #2b21da;*/
	  background-color: #F37047;
    --background: #F37047;
}
.logo-inner{
    padding: 20px 0px 10px 0px;
}
.logo-inner .site-logo{
    height: 104px;
}
.user-name-text{
    font-size: 25px;
    color: #fff;
    padding: 0px 0px 0px 0px;
}
.user-title-text{
    font-size: 18px;
    color: #fff;
    padding: 0px 0px 4px 0px;
}
.login-details-box{
    padding: 0px 30px 0px 30px;
}
.to-login-text{
    font-size: 19px;
    font-weight: 600;
    /*color: #ffcc5c;*/
	color: #000;
    padding: 4px 0px 4px 0px;
}
.input-fields-inner ion-input {
    --placeholder-color: #000;
    --placeholder-opacity: 1;
}
.input-fields-inner{
    --background: transparent;
    --border-color: #000;
    --padding-start: 0px;
    --placeholder-opacity: 1;
    color: #000;
    margin: 0px 0px 20px 0px;
}
.input-fields-inner ion-icon{
    color: #000;
    margin-inline-end: 10px;
    font-size: 20px;
}
.submit-btn{
	background-color: #F37047;
    --background: #F37047;
    --border-color: #F37047;
    --color: #fff;
    font-size: 22px;
    height: 42px;
    text-transform: none;
	border-radius: 64px;
}
.submit-btn-inner{
   /* margin: 50px 0px 0px 0px;*/
}
.forgot-password-text{
    font-size: 16px;
    color: #000;
    padding: 15px 0px 0px 0px;
}
.form-inner-box{
    width: 100%;
}
.error-label-text{
    color: red;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    width: 100%;
}