<ion-content padding class="login-background">
  <ion-grid>
		<ion-row>
			<ion-col size="12" class="logo-inner">
				<ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
      </ion-col>
            <ion-col size="12" class="user-name-inner">
                <ion-title class="ion-text-center user-name-text">Depanne Dakar</ion-title>
            </ion-col>
            <ion-col size="12" class="user-name-inner">
                <ion-title class="ion-text-center user-title-text">Sous titre</ion-title>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="login-details-box">
		<ion-row>
       <ion-col size="12">
        <ion-title class="ion-text-start to-login-text">Se connecter</ion-title>
       </ion-col>
			<ion-col size="12">
          <ion-item class="input-fields-inner">
              <ion-input type="email" value="" placeholder="Téléphone ou email"></ion-input>
              <ion-icon name="person" slot="start"></ion-icon>
          </ion-item>
			    <ion-item class="input-fields-inner">
            <ion-input type="password" value="" placeholder="Tapez votre mot de passe"></ion-input>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
        </ion-item>
			</ion-col>
			<ion-col size="12" class="submit-btn-inner">
        <ion-button shape="round" expand="full" fill="outline" class="submit-btn">Valider</ion-button>
        <ion-title class="ion-text-center forgot-password-text">Mot de passe oublié?</ion-title>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
