ion-toolbar{
    --background: #2f26d9;
    --color: #fff;
    --border-color: #2f26d9;
    padding: 30px 0px 30px 0px !important;
    border-radius: 0px 0px 25px 25px;
}
.site-logo{
    height: 50px;
    text-align: left;
}
ion-title{
    padding-inline-start: 0px;
}
.list-inner-top{
    padding: 45px 0px 20px 0px;
}
.list-inner-box{
    width:90%; 
    margin: 0px auto;
}
.list-inner-box ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    margin: 0px 0px 15px 0px;
    --background: #e9e8fd;
    --border-color: transparent;
    border-radius: 10px;
}
.list-inner-box ion-grid{
    padding: 14px 12px;
}
.item-text-name{
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}
.item-rating-color ion-icon{
    color: #fcb23e;
    font-size: 17px;
}
.reserver-btn{
    --background: #fe240d;
    --border-color: #fe240d;
    --color: #fff;
    font-size: 16px;
    text-transform: none;
    border-radius: 14px;
    margin: 9px 0px 0px 0px;
}