.page-background
{
    /*--background: #2b21da;*/
	  background-color: #fff;
    --background: #fff;
}
.pageheader-background
{
    /*--background: #2b21da;*/
	  background-color: #f89951;
    --background: #f89951;
}
.logo-inner{
    padding: 30px 0px 10px 0px;
}
.logo-inner .site-logo{
    height: 104px;
}
.help-title-inner{
  padding: 80px 0px 10px 0px;
  width: 95%;
  margin: 0px auto;
  display: block;
}
.help-title-one{
  font-size: 20px;
  color: #000;
  font-weight: 600;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin: 0px 0px 10px 0px;
}
.help-title-two{
  font-size: 19px;
  font-style: italic;
  color: #000;
  font-weight: 300;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin: 0px 0px 0px 0px;
}
.login-details-box{
   width:90%;
   margin: 0px auto;
   display: block;
}
.submit-btn{
	background-color: #f89951;
    --background: #f89951;
    --border-color: #000;
    --color: #fff;
    font-size: 22px;
    height: 42px;
    text-transform: none;
    margin: 0px 0px 20px 0px;
	border-radius: 64px;
}
.submit-btn-inner{
    margin: 40px 0px 0px 0px;
}