<ion-content padding class="page-background">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="logo-inner">
        <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="help-title-inner">
    <ion-row>
      <ion-col>
        <ion-title class="ion-text-center help-title-one">Je reserve une aide à domicile</ion-title>
        <ion-title class="ion-text-center help-title-two">En moins de 2 mins</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="login-details-box">
    <ion-row>
      <ion-col size="12" class="submit-btn-inner">
        <ion-button routerDirection="root" routerLink="/searchprovider" shape="round" expand="full" fill="outline"
          class="submit-btn">Réserver</ion-button>
        <ion-button routerDirection="root" routerLink="/sign-in" shape="round" expand="full" fill="outline"
          class="submit-btn">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>