ion-toolbar{
    --background: #2f26d9;
    --color: #fff;
    --border-color: #2f26d9;
    padding: 30px 0px 30px 0px !important;
    border-radius: 0px 0px 25px 25px;
}
.site-logo{
    height: 50px;
    text-align: left;
}
ion-title{
    padding-inline-start: 0px;
}
ion-content{
    --background: #fff;
}
.list-inner-top{
    padding: 15px 0px 0px 0px;
    background: #f1f2f4;
}
.list-inner-top ion-item{
    --background: #f1f2f4;
}
.list-inner-box{
    width:100%; 
    margin: 0px auto;
    padding-top: 3px;
    padding-bottom: 3px;
}
.list-inner-box ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    margin: 0px 0px 6px 0px;
    --border-color: transparent;
    width: 100%;
    position: relative;
}
.login-background
{
    background-color: #2b21da;
    --background: #2b21da;
}
// .edit-profile-box{
//     padding: 30px 20px 0px 20px;
// }
.input-fields-inner ion-input {
    --placeholder-color: #fff;
    --placeholder-opacity: 1;
    font-size: 14px;
}
.input-fields-inner{
    --background: transparent;
    --border-color: #fff;
    --padding-start: 0px;
    --placeholder-opacity: 1;
    color: #fff;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
.checkbox-item-inner{
    --border-color: transparent;
}
.checkbox-item-inner ion-checkbox{
    margin-inline-end: 12px;
    --border-color: #fff;
}
.input-fields-inner ion-icon{
    color: #fff;
    margin-inline-end: 10px;
    font-size: 20px;
}
.submit-btn{
    --border-color: #fff;
    --color: #fff;
    font-size: 22px;
    height: 42px;
    text-transform: none;
}
.submit-btn-inner{
    margin: 30px 0px 0px 0px;
}

.grid-top-title{
    padding: 10px 0px 20px 0px;
    max-width: 100%;
    margin: 0px;
}
.text-line-one{
    font-size: 17px;
    color: #fff;
    padding: 0px 0px 5px 0px;
    text-align: center;
}
.text-line-two{
    font-size: 16px;
    color: #ffcc5c;
    font-style: italic;
    padding: 5px 0px 0px 0px;
    text-align: center;
}
.reservation-bottom{
    padding-bottom: 30px;
}
.form-inner-box{
    width: 100%;
}
.error-label-text{
    color: red;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 50px;
    width: 100%;
}