<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>
<ion-content class="ion-container">
  <ion-list class="list-inner-box list-inner-top">
    <ion-back-button></ion-back-button>
    <ion-item *ngIf="details && (details.providerdetails || details.clientdetails)" class="user-name-contact-inner">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label *ngIf="details && details.providerdetails" class="users-label-inner ion-text-capitalize">
              {{details['providerdetails'][0]['name']}}</ion-label>
            <ion-label *ngIf="details && details.clientdetails" class="users-label-inner ion-text-capitalize">
              {{details['clientdetails'][0]['name']}}</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label *ngIf="details && details.providerdetails" class="users-contact-label">Téléphone:
              {{details['providerdetails'][0]['phone']}}</ion-label>
            <ion-label *ngIf="details && details.clientdetails" class="users-contact-label">Téléphone:
              {{details['clientdetails'][0]['phone']}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="details?.bookingdetails">


      <ion-grid class="list-tem-box">
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Prestation</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{details.bookingdetails.service_name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Date</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{getDateFormat(details.bookingdetails.booking_date)}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Heure</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="booking-text-label">{{getStartTime(details.bookingdetails.start_time)}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="item-text-label">Montant</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="item-text-date">${{details.bookingdetails.amount}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="details?.providerdetails && details?.bookingdetails" size="12">
            <ion-label class="viewOnly rating-label-inner">
              <bar-rating id="ratingBar" [theme]="'default'" [(ngModel)]="rating" [max]="5">
              </bar-rating>
            </ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>