<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      <ion-img src="assets/images/logo.png" class="site-logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-inner-box list-inner-top">
    <ion-item class="item-inner-box">
      <ion-label>Start Date</ion-label>
      <ion-datetime id="date" value="{{date}}" [max]="2090-12-31" [min]="minDate" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box">
      <ion-label>Start Time</ion-label>
      <ion-datetime id="startTime" display-format="h:mm A" picker-format="h:mm A" value="2020-01-19T07:43Z">
      </ion-datetime>
    </ion-item>
    <ion-item class="item-inner-box item-last-inner">
      <ion-label>End Time</ion-label>
      <ion-datetime id="endTime" display-format="h:mm A" picker-format="h:mm A" value="2020-01-19T07:43Z">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box">
    <ion-label class="dropdown-label-text">Sélectionner votre quartier</ion-label>
    <ion-item class="dropdown-inner-box">
      <ion-select
        *ngIf="searchProviderData?.location && searchProviderData.location.length && searchProviderModel['location']"
        [(ngModel)]="searchProviderModel['location']">
        <ion-select-option *ngFor="let location of searchProviderData.location" value="{{location.id}}">
          {{location.location_name}}</ion-select-option>
        <!-- <ion-select-option value="Two">Two</ion-select-option> -->
      </ion-select>
    </ion-item>
    <ion-label class="dropdown-label-text">Service en demande</ion-label>
    <ion-item class="dropdown-inner-box">
      <ion-select
        *ngIf="searchProviderData?.service && searchProviderData.service.length && searchProviderModel['service']"
        [(ngModel)]="searchProviderModel['service']">
        <ion-select-option *ngFor="let service of searchProviderData.service" value="{{service.id}}">
          {{service.service_name}}</ion-select-option>
        <!-- <ion-select-option value="Two">Two</ion-select-option> -->
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list class="list-inner-box">
    <ion-col size="12" class="submit-btn-inner">
      <ion-button shape="round" expand="full" (click)="submitSearchData()" fill="outline" class="next-btn-property">
        Suivant
      </ion-button>
    </ion-col>
  </ion-list>
</ion-content>