<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
     <ion-row>
          <ion-col size="8">
              <ion-card-header>
              <ion-card-title class="item-text-name ion-text-capitalize"> {{ item.title }}</ion-card-title>
              </ion-card-header>
          </ion-col>
          <ion-col size="4">
          <ion-card-header>
              <button ion-button clear item-end>View</button>
          </ion-card-header>
          </ion-col>
     </ion-row>


    <ion-card-content>
      <app-expandable expandHeight="100px" [expanded]="item.expanded">
        <p>
          {{ item.text }}
        </p>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
