<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-container">
  <ion-list>
    <ion-radio-group [(ngModel)]="paymentOption">
      <ion-list-header>
        <ion-label>Total Payment: {{currencyIcon}}{{paymentData[0]}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let paymentDetail of existingCardDetails; let i = index">
        <ion-label class="p-none">
          <span
            class="ion-text-capitalize">{{paymentDetail['card']['brand']}}</span><span>{{' ****' + paymentDetail['card']['last4']}}</span>
          <br />
          <span class="ion-text-capitalize">{{paymentDetail['billing_details']['name']}}</span><br />
          <span class="ion-text-capitalize">Expires
            {{paymentDetail['card']['exp_month'] + '/' + paymentDetail['card']['exp_year']}}</span><br />
          <ion-input *ngIf="paymentOption === paymentDetail.id" class="inp-cvv" type="number"
            [(ngModel)]="cvv[paymentDetail.id]" placeholder="Enter CVV"></ion-input>
        </ion-label>
        <ion-radio slot="start" color="primary" value="{{paymentDetail.id}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Add Debit/Credit/ATM Card</ion-label>
        <ion-radio slot="start" color="primary" value="newCard"></ion-radio>
      </ion-item>
      <div *ngIf="paymentOption === 'newCard'" class="pl-form">
        <ion-item lines="full">
          <ion-label position="floating">Name On Card</ion-label>
          <ion-input type="text" required [(ngModel)]="nameInCard" (ngModelChange)="valid()" >
          </ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.nameInCard.valid">
            Name is required.
          </span>
        <ion-item lines="full">
          <ion-label position="floating">Card Number</ion-label>
          <ion-input type="text" required [(ngModel)]="cardNumber" (ngModelChange)="valid()"></ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.cardNumber.valid">
          Card Number is required.
        </span>
        <ion-item lines="full">
          <ion-label position="floating"></ion-label>
          <ion-grid class="w100 pl-0">
            <ion-row>
              <ion-col size="6" class="pl-0">
                <ion-select required class="w100 pl-0" name="selectMonth" [(ngModel)]="selectedMonth"
                  placeholder="Expiry MM" multile="false" (ngModelChange)="valid()">
                  <ion-select-option *ngFor="let code of month; let i = index;" value="{{i + 1}}">
                    {{code}}
                  </ion-select-option>
                </ion-select>
                <span class="error error-label-text" *ngIf="submitted && !errorObj.selectedMonth.valid">
                  Month is required.
                </span>
              </ion-col>
              <ion-col size="6">
                <ion-select required class="w100 pl-0" name="selectYear" [(ngModel)]="selectedYear"
                  placeholder="Expiry YYYY" multile="false" (ngModelChange)="valid()">
                  <ion-select-option value="2021">
                    2021
                  </ion-select-option>
                  <ion-select-option value="2022">
                    2022
                  </ion-select-option>
                  <ion-select-option value="2023">
                    2023
                  </ion-select-option>
                </ion-select>
                <span class="error error-label-text" *ngIf="submitted && !errorObj.selectedYear.valid">
                  Year is required.
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">CVV</ion-label>
          <ion-input required type="text" [(ngModel)]="cardCvv" (ngModelChange)="valid()"></ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.cardCvv.valid">
          CVV is required.
        </span>
      </div>
      <ion-item>
        <ion-label>Paypal</ion-label>
        <ion-radio slot="start" color="primary" value="paypal"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
  <ion-button expand="full" shape="round" class="" (click)="getPaymentDetails()">Make Payment
  </ion-button>
  <!-- <ion-card class="welcome-card">
    <ion-img src="assets/images/paypal.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>PayPal Sample</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentData[0]}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="payWithPaypal()" expand="full" color="success">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card> -->
</ion-content>