<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-container">
  <ion-card class="welcome-card">
    <ion-img src="assets/images/paypal.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>PayPal Sample</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentData[0]}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="payWithPaypal()" expand="full" color="success">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>