<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-container">
  <ion-list class="list-inner-box">
    <ion-radio-group [(ngModel)]="paymentOption">
      <ion-list-header class="paymentLabel">
        <ion-label>Montant total: {{currencyIcon}}{{getTotalPayment()}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let paymentDetail of existingCardDetails; let i = index" class="itemBoxCard">
        <ion-label class="p-none cardTitleInner">
          <span
            class="ion-text-capitalize visaTitle">{{paymentDetail['card']['brand']}}</span><span class="visaTitle">{{' ****' + paymentDetail['card']['last4']}}</span>
          <br />
          <span class="ion-text-capitalize cardOwner">{{paymentDetail['billing_details']['name']}}</span><br />
          <span class="ion-text-capitalize expiresDate">Expires
            {{paymentDetail['card']['exp_month'] + '/' + paymentDetail['card']['exp_year']}}</span><br />
          <ion-input *ngIf="paymentOption === paymentDetail.id" class="inp-cvv" type="number"
            [(ngModel)]="cvv[paymentDetail.id]" placeholder="Enter CVV"></ion-input>
        </ion-label>
        <ion-radio slot="start" color="primary" value="{{paymentDetail.id}}"></ion-radio>
      </ion-item>
      <ion-item class="itemBoxCard creditCardBorder">
        <ion-label class="cardTitleText">Add Debit/Credit/ATM Card</ion-label>
        <ion-radio slot="start" color="primary" value="newCard"></ion-radio>
      </ion-item>
      <div *ngIf="paymentOption === 'newCard'" class="pl-form customerDetailsBox">
        <ion-item lines="full" class="cardInput">
          <ion-label position="floating">Name On Card</ion-label>
          <ion-input type="text" required [(ngModel)]="nameInCard" (ngModelChange)="valid()">
          </ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.nameInCard.valid">
          Name is required.
        </span>
        <ion-item lines="full" class="cardInput">
          <ion-label position="floating">Card Number</ion-label>
          <ion-input type="text" required [(ngModel)]="cardNumber" (ngModelChange)="valid()"></ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.cardNumber.valid">
          Card Number is required.
        </span>
        <ion-item lines="full">
          <ion-label position="floating"></ion-label>
          <ion-grid class="w100 pl-0 expiresMonthYear">
            <ion-row>
              <ion-col size="6" class="month-year-inner month-year-one">
                <ion-select required class="w100 pl-0" name="selectMonth" [(ngModel)]="selectedMonth"
                  placeholder="Expiry MM" multile="false" (ngModelChange)="valid()">
                  <ion-select-option *ngFor="let code of counter(12); let i = index;" value="{{i + 1}}">
                    {{minTwoDigits(i + 1)}}
                  </ion-select-option>
                </ion-select>
                <span class="error error-label-text" *ngIf="submitted && !errorObj.selectedMonth.valid">
                  Month is required.
                </span>
              </ion-col>
              <ion-col size="6" class="month-year-inner">
                <ion-select required class="w100 pl-0" name="selectYear" [(ngModel)]="selectedYear"
                  placeholder="Expiry YYYY" multile="false" (ngModelChange)="valid()">
                  <ion-select-option *ngFor="let year of counter(20); let i = index;" value="{{currentYear + i}}">
                    {{currentYear+i}}
                  </ion-select-option>

                </ion-select>
                <span class="error error-label-text" *ngIf="submitted && !errorObj.selectedYear.valid">
                  Year is required.
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>
        <ion-item lines="full" class="cardInput">
          <ion-label position="floating">CVV</ion-label>
          <ion-input required type="text" [(ngModel)]="cardCvv" (ngModelChange)="valid()"></ion-input>
        </ion-item>
        <span class="error error-label-text" *ngIf="submitted && !errorObj.cardCvv.valid">
          CVV is required.
        </span>
      </div>
      <ion-item class="itemBoxCard">
        <ion-label class="cardTitleText">Paypal</ion-label>
        <ion-radio slot="start" color="primary" value="paypal"></ion-radio>
      </ion-item>
      <ion-item class="itemBoxCard">
        <ion-label class="cardTitleText">Bitcoin</ion-label>
        <ion-radio slot="start" color="primary" value="bitcoin"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
  <ion-list class="list-inner-box">
    <ion-button expand="full" shape="round" class="make-payment" (click)="getPaymentDetails()">PAYER
    </ion-button>
  </ion-list>
  <!-- <ion-card class="welcome-card">
    <ion-img src="assets/images/paypal.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>PayPal Sample</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentData[0]}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="payWithPaypal()" expand="full" color="success">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card> -->
</ion-content>