ion-toolbar{
    --background: #F37047;
    --color: #fff;
    --border-color: #F37047;
    padding: 30px 0px 30px 0px !important;
    border-radius: 0px 0px 25px 25px;
}
.site-logo{
    height: 50px;
    text-align: left;
}
ion-title{
    padding-inline-start: 0px;
}
.list-inner-top{
    padding: 45px 0px 20px 0px;
}
.list-inner-box{
    width:90%; 
    margin: 0px auto;
}
.list-inner-box .list-tem-box{
    background: #e9e8fd;
    border-radius: 10px;
}
.list-inner-box ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    margin: 0px 0px 15px 0px;
    --border-color: transparent;
}
.list-inner-box ion-grid{
    padding: 14px 12px;
    width: 100%;
}
.list-inner-box  .btn-grid-inner{
    padding: 14px 0px;
}
.item-text-name{
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 5px 0px;
}
.item-rating-color ion-icon{
    color: #F37047;
    font-size: 15px;
}
.item-text-date{
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 5px 0px;
}
.reserver-btn{
    --background: #fe240d;
    --border-color: #fe240d;
    --color: #fff;
    font-size: 16px;
    text-transform: none;
    border-radius: 14px;
    margin: 9px 0px 0px 0px;
}
.booking-btn{
    --background: #F37047;
    --border-color: #F37047;
    --color: #fff;
    font-size: 18px;
    text-transform: none;
    border-radius: 14px;
    margin: 9px 0px 0px 0px;
}
.sorry-text-label{
    font-size: 21px;
    color: red;
    font-weight: 600;
}
.no-data-description ion-label{
    text-overflow: inherit;
    white-space: inherit;
    font-size: 17px;
    font-weight: 600;
}
.date-time-label{
    font-size: 17px;
    color: #000;
    font-weight: 600;
}
.date-time-label ion-icon{
    font-size: 35px;
    color: #000;
    margin: 0px 0px 30px 0px;
    cursor: pointer;
}
.no-data-description{
    padding: 40px 0px 50px 0px;
}
.w100{
    width:100%;
    max-width: 100%;
}
.pl-form{
    padding-left: 40px;
}
.p-none{
    pointer-events: visible;
}
.inp-cvv{
    border-radius: 5px;
    border: 1px solid #a5a0a0;
}
.error-label-text{
    color: red;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
.list-inner-box{
    width: 90%;
    margin: 0px auto;
}
.itemBoxCard{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 0px 0px 1px 0px !important;
    padding: 0px 6px 0px 6px;
}
.paymentLabel{
    padding-left: 0;
}
.paymentLabel ion-label{
    font-size: 13px;
    font-weight: 700;
    color: #444;
}
.cardTitleInner .visaTitle{
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.cardTitleInner .cardOwner{
    font-size: 15px;
    font-weight: 600;
    color: #444;
}
.cardTitleInner .expiresDate{
    font-size: 14px;
    font-weight: 600;
    color: #777;
}
.cardTitleInner .inp-cvv{
    border: 1px solid #F37047;
    font-size: 14px;
    font-weight: 600;
    width: 130px;
}
.cardTitleText{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.make-payment{
    font-weight: 600;
}
.customerDetailsBox{
    padding: 0px 15px;
    border-width: 0px 1px 1px 1px;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 0px 0px 4px 4px;
    margin: -4px 0px 1px 0px;
    position: relative;
    z-index: 9999999;
}
.item-radio-checked.creditCardBorder {
    border-width: 1px 1px 0px 1px;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
}
.cardInput{
    border: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 8px;
    border-radius: 4px;
    height: 50px;
}
.month-year-inner{
    padding: 0px !important;
}
.month-year-inner ion-select{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px !important;
    --padding-top: 14px;
    --padding-bottom: 13px;
}
.month-year-one ion-select{
    width: 95%;
}
.expiresMonthYear {
    padding: 0px !important;
}
ion-radio{
    margin-inline-end: 20px;
    margin-right: 20px;
}
.customerDetailsBox .list-inner-box{
    margin: 0px 0px 10px 0px;
}